input[type="date"] {
  display:block;

  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input,
label,
select,
button,
textarea {
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
  color: inherit;
	background: none;
	line-height: 1;
	font-size: inherit;
	font-family: inherit;
}